        /*SELETOR UNIVERSAL*/

*{
    margin: 0;
    padding: 0;
}

        /*CORPO DA PÁGINA*/
body{
    font-family: sans-serif;
}

/*SECÇÃO CABEÇALHO*/

.cabecalho{
    background-color: blueviolet;
    color: white;
    display: flex;
    padding: 30px;
    font-size: 24px;
    justify-content: space-around;
}

.cabecalho-imagem
{ width: 200px;
height: 200px;}

.cabecalho-item{
    display: inline-block;
    padding: 0 100px;
}
/*SECÇÃO TURMA*/

.turma{
    background-image: linear-gradient(blueviolet,rgb(90, 53, 122));
}

.turma-titulo{
    padding-bottom: 30px;
    text-align: center;
}

.turma-div{
display: flex;
justify-content: center;
}

.turma-imagem{
    width: 300px;
}

/*SECÇÃO ESTUDANTE*/

.Estudante{
 background-image: linear-gradient(blueviolet,rgb(90, 53, 122));
}

.Estudante-titulo{
text-align: center;
font-size: 24px;
padding: 30px 0;
}

.Estudante-div{
text-align: center;
}

.Estudante-imagem{
width: 90px;
height: 100px;
}

.Estudante-icone{
width: 52px;
height: 53px;
}

.Estudante-legenda{
font-size: 14px;
}

